body{background-color:aqua;
     border:5px solid purple;
     border-radius:10px;}
       
  h1{text-align:left;
     font-weight:bold;
     color:green;
    }

  p{font-size:13px;
    text-align:center
   }
img{text-align: center}


ul{list-style-type:none;}
li{display:inline;
   padding:15px;}



