body{background-color:aqua;
     border:5px solid purple;
     border-radius:10px;
    }

  h1{text-align:center;
     font-weight:bold;
     color:green;
    }

  p{font-size:16px;
   }

marquee{color:red;}
ul{list-style-type:none;}
li{display:inline;
   padding:15px



